<h1>Welcome to FRT</h1>
  <ul>
     <div class="topnav">
        <li><a class="active" href="home.handlebars">Home</a></li>
        <li><a class="active" href="about.handlebars">About</a></li>
        <li><a class="active" href="contact.handlebars">Contact</a></li>
        <li><a class="active" href= "solutions.handlebars">Solution</a></li>
        <li><a class="active" href= "sponsors.handlebars">Sponsors</a></li>
        <li><a class="active" href= "shop.handlebars">Shop</a></li>
        <div class="search-container">
          <form class="form-inline-my-2-my-lg-0">
            <input id="search" class="form-control-mr-sm-2" type="search" placeholder="Shop Search..." aria-label="Search">
            <button id="btn"class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
     </div>
  </ul>
  <div id="root"></div>
<br><br>
<form class="login1">
  <div class="form-group mb-2">
    <label for="staticEmail2" class="sr-only">Email</label>
    <input type="staticEmail2" class="form-control" id="inputEmail2" placeholder="Email">
  </div>
  <div class="form-group mx-sm-3 mb-2">
    <label for="inputPassword2" class="sr-only">Password</label>
    <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
     <div class="checkbox">
        <label>
            <input id="checkbox" type="checkbox"> Remember me</label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary mb-2">Sign In!</button>
</form>
<a href= "signUp.handlebars">Sign Up!</a>
<br><br>
<h1>Newsletter</h1>
    <section>
      <p> Shouting out to every live person who woke up this Morning! To keep rolling, Keep Living! Because life can't put us down. Only if we let it happen to us. Everyone grows up to think differently in their own way. With every good support and care. Life worldwide can be better for human beings and verbs.Our details on our special Tennis Products. Could and shell make that change eventually. The statistics that we carry can be proven as hard true news. Soon our site will have all information on Tennis games.</p>
    </section>
<br><br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/kmCKNjSHFu8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br><br>
<div class="container">
<div class="row mb-2 compact">
        <div class="col-12">
            <h2 class="title text-center"><span>HOT SALE</span></h2>
        </div>
        <div class="col-6 col-sm-4 col-md-4 col-lg-3">
            <div class="card card-product">
                <a href="/shoes/union-air-jordan-1-retro-high-og-nrg-bv1300-106.html"><img class="card-img-top" src="https://static.kindsneaker.com/upload/images/20190531/2019053113440108440628_small.jpg" alt="Union Air Jordan 1 Retro High OG NRG BV1300-106"></a>
                <div class="card-body">
                    <div class="card-title"><a href="/shoes/union-air-jordan-1-retro-high-og-nrg-bv1300-106.html" title="Union Air Jordan 1 Retro High OG NRG BV1300-106">Union Air Jordan 1 Retro High OG NRG BV1300-106</a></div>
                    <ul class="card-text list-inline">
                        <li class="list-inline-item"><span class="price">$165.00</span></li>
                        <li class="list-inline-item">
                            <del class="text-muted small">$550.00</del>
                        </li>
                    </ul>
                    <div class="attribute attribute-right">
                        <span class="badge badge-danger font-weight-normal"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-md-4 col-lg-3">
            <div class="card card-product">
                <a href="/shoes/nike-sb-x-air-jordan-1-1-retro-high-og-cd6578-006.html"><img class="card-img-top" src="https://static.kindsneaker.com/upload/images/20190530/2019053014554409848013_small.jpg" alt="Nike SB x Air Jordan 1 1 Retro High OG CD6578-006"></a>
                <div class="card-body">
                    <div class="card-title"><a href="/shoes/nike-sb-x-air-jordan-1-1-retro-high-og-cd6578-006.html" title="Nike SB x Air Jordan 1 1 Retro High OG CD6578-006">Nike SB x Air Jordan 1 1 Retro High OG CD6578-006</a></div>
                    <ul class="card-text list-inline">
                        <li class="list-inline-item"><span class="price">$165.00</span></li>
                        <li class="list-inline-item">
                            <del class="text-muted small">$350.00</del>
                        </li>
                    </ul>
                    <div class="attribute attribute-right">
                        <span class="badge badge-danger font-weight-normal"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-md-4 col-lg-3">
            <div class="card card-product">
                <a href="/shoes/air-jordan-1-x-off-white-unc-aq0818-148.html"><img class="card-img-top" src="https://static.kindsneaker.com/upload/images/20190530/2019053014473807835184_small.jpg" alt="Air Jordan 1 x Off-White UNC AQ0818-148"></a>
                <div class="card-body">
                    <div class="card-title"><a href="/shoes/air-jordan-1-x-off-white-unc-aq0818-148.html" title="Air Jordan 1 x Off-White UNC AQ0818-148">Air Jordan 1 x Off-White UNC AQ0818-148</a></div>
                    <ul class="card-text list-inline">
                        <li class="list-inline-item"><span class="price">$170.00</span></li>
                        <li class="list-inline-item">
                            <del class="text-muted small">$370.00</del>
                        </li>
                    </ul>
                    <div class="attribute attribute-right">
                        <span class="badge badge-danger font-weight-normal"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-md-4 col-lg-3">
            <div class="card card-product">
                <a href="/shoes/air-jordan-1-og-x-nike-sb-cd6578-507.html"><img class="card-img-top" src="https://static.kindsneaker.com/upload/images/20190529/2019052910173209020936_small.jpg" alt="Air Jordan 1 OG x Nike SB CD6578-507"></a>
                <div class="card-body">
                    <div class="card-title"><a href="/shoes/air-jordan-1-og-x-nike-sb-cd6578-507.html" title="Air Jordan 1 OG x Nike SB CD6578-507">Air Jordan 1 OG x Nike SB CD6578-507</a></div>
                    <ul class="card-text list-inline">
                        <li class="list-inline-item"><span class="price">$165.00</span></li>
                        <li class="list-inline-item">
                            <del class="text-muted small">$350.00</del>
                        </li>
                    </ul>
                    <div class="attribute attribute-right">
                        <span class="badge badge-danger font-weight-normal"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-md-4 col-lg-3">
            <div class="card card-product">
                <a href="/shoes/air-jordan-4-retro-fear-pack-626969-030.html"><img class="card-img-top" src="https://static.kindsneaker.com/upload/images/20190529/2019052911094103374886_small.jpg" alt="AIR JORDAN 4 RETRO FEAR PACK 626969-030"></a>
                <div class="card-body">
                    <div class="card-title"><a href="/shoes/air-jordan-4-retro-fear-pack-626969-030.html" title="AIR JORDAN 4 RETRO FEAR PACK 626969-030">AIR JORDAN 4 RETRO FEAR PACK 626969-030</a></div>
                    <ul class="card-text list-inline">
                        <li class="list-inline-item"><span class="price">$140.00</span></li>
                        <li class="list-inline-item">
                            <del class="text-muted small">$340.00</del>
                        </li>
                    </ul>
                    <div class="attribute attribute-right">
                        <span class="badge badge-danger font-weight-normal"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-md-4 col-lg-3">
            <div class="card card-product">
                <a href="/shoes/adidas-yeezy-boost-350-v2-core-black-red-by9612.html"><img class="card-img-top" src="https://static.kindsneaker.com/upload/images/20190529/2019052910443909529969_small.jpg" alt="Adidas Yeezy Boost 350 V2 Core Black Red BY9612"></a>
                <div class="card-body">
                    <div class="card-title"><a href="/shoes/adidas-yeezy-boost-350-v2-core-black-red-by9612.html" title="Adidas Yeezy Boost 350 V2 Core Black Red BY9612">Adidas Yeezy Boost 350 V2 Core Black Red BY9612</a></div>
                    <ul class="card-text list-inline">
                        <li class="list-inline-item"><span class="price">$155.00</span></li>
                        <li class="list-inline-item">
                            <del class="text-muted small">$350.00</del>
                        </li>
                    </ul>
                    <div class="attribute attribute-right">
                        <span class="badge badge-danger font-weight-normal"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-md-4 col-lg-3">
            <div class="card card-product">
                <a href="/shoes/adidas-yeezy-500-salt-ee7287.html"><img class="card-img-top" src="https://static.kindsneaker.com/upload/images/20190529/2019052910261405569939_small.jpg" alt="Adidas Yeezy 500 Salt EE7287"></a>
                <div class="card-body">
                    <div class="card-title"><a href="/shoes/adidas-yeezy-500-salt-ee7287.html" title="Adidas Yeezy 500 Salt EE7287">Adidas Yeezy 500 Salt EE7287</a></div>
                    <ul class="card-text list-inline">
                        <li class="list-inline-item"><span class="price">$165.00</span></li>
                        <li class="list-inline-item">
                            <del class="text-muted small">$455.00</del>
                        </li>
                    </ul>
                    <div class="attribute attribute-right">
                        <span class="badge badge-danger font-weight-normal"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-md-4 col-lg-3">
            <div class="card card-product">
                <a href="/shoes/air-jordan-1-retro-phantom-gym-red-og-555088-160.html"><img class="card-img-top" src="https://static.kindsneaker.com/upload/images/20190420/2019042015324102707617_small.jpg" alt="Air Jordan 1 Retro Phantom Gym Red OG 555088-160"></a>
                <div class="card-body">
                    <div class="card-title"><a href="/shoes/air-jordan-1-retro-phantom-gym-red-og-555088-160.html" title="Air Jordan 1 Retro Phantom Gym Red OG 555088-160">Air Jordan 1 Retro Phantom Gym Red OG 555088-160</a></div>
                    <ul class="card-text list-inline">
                        <li class="list-inline-item"><span class="price">$165.00</span></li>
                        <li class="list-inline-item">
                            <del class="text-muted small">$300.00</del>
                        </li>
                    </ul>
                    <div class="attribute attribute-right">
                        <span class="badge badge-danger font-weight-normal"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-md-4 col-lg-3">
            <div class="card card-product">
                <a href="/shoes/air-jordan-1-yellow-toe-og-ar1020-700.html"><img class="card-img-top" src="https://static.kindsneaker.com/upload/images/20190425/2019042516470800337076_small.jpg" alt="Air Jordan 1 Yellow Toe OG  AR1020-700"></a>
                <div class="card-body">
                    <div class="card-title"><a href="/shoes/air-jordan-1-yellow-toe-og-ar1020-700.html" title="Air Jordan 1 Yellow Toe OG  AR1020-700">Air Jordan 1 Yellow Toe OG  AR1020-700</a></div>
                    <ul class="card-text list-inline">
                        <li class="list-inline-item"><span class="price">$165.00</span></li>
                        <li class="list-inline-item">
                            <del class="text-muted small">$300.00</del>
                        </li>
                    </ul>
                    <div class="attribute attribute-right">
                        <span class="badge badge-danger font-weight-normal"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-md-4 col-lg-3">
            <div class="card card-product">
                <a href="/shoes/air-jordan-1-retro-high-og-gym-red-black-555088-610.html"><img class="card-img-top" src="https://static.kindsneaker.com/upload/images/20190112/2019011209193607679539_small.jpg" alt="AIR JORDAN 1 RETRO HIGH OG GYM RED BLACK 555088 610"></a>
                <div class="card-body">
                    <div class="card-title"><a href="/shoes/air-jordan-1-retro-high-og-gym-red-black-555088-610.html" title="AIR JORDAN 1 RETRO HIGH OG GYM RED BLACK 555088 610">AIR JORDAN 1 RETRO HIGH OG GYM RED BLACK 555088 610</a></div>
                    <ul class="card-text list-inline">
                        <li class="list-inline-item"><span class="price">$155.00</span></li>
                        <li class="list-inline-item">
                            <del class="text-muted small">$300.00</del>
                        </li>
                    </ul>
                    <div class="attribute attribute-right">
                        <span class="badge badge-danger font-weight-normal"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-md-4 col-lg-3">
            <div class="card card-product">
                <a href="/shoes/adidas-yeezy-boost-350-v2-true-form-eg7492.html"><img class="card-img-top" src="https://static.kindsneaker.com/upload/images/20190319/2019031911232001992584_small.jpg" alt="ADIDAS YEEZY BOOST 350 V2 TRUE FORM EG7492"></a>
                <div class="card-body">
                    <div class="card-title"><a href="/shoes/adidas-yeezy-boost-350-v2-true-form-eg7492.html" title="ADIDAS YEEZY BOOST 350 V2 TRUE FORM EG7492">ADIDAS YEEZY BOOST 350 V2 TRUE FORM EG7492</a></div>
                    <ul class="card-text list-inline">
                        <li class="list-inline-item"><span class="price">$165.00</span></li>
                        <li class="list-inline-item">
                            <del class="text-muted small">$500.00</del>
                        </li>
                    </ul>
                    <div class="attribute attribute-right">
                        <span class="badge badge-danger font-weight-normal"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-md-4 col-lg-3">
            <div class="card card-product">
                <a href="/shoes/adidas-yeezy-boost-350-v2-hyperspace-eg7491.html"><img class="card-img-top" src="https://static.kindsneaker.com/upload/images/20190319/2019031915192400765782_small.jpg" alt="ADIDAS YEEZY BOOST 350 V2 HYPERSPACE EG7491"></a>
                <div class="card-body">
                    <div class="card-title"><a href="/shoes/adidas-yeezy-boost-350-v2-hyperspace-eg7491.html" title="ADIDAS YEEZY BOOST 350 V2 HYPERSPACE EG7491">ADIDAS YEEZY BOOST 350 V2 HYPERSPACE EG7491</a></div>
                    <ul class="card-text list-inline">
                        <li class="list-inline-item"><span class="price">$165.00</span></li>
                        <li class="list-inline-item">
                            <del class="text-muted small">$400.00</del>
                        </li>
                    </ul>
                    <div class="attribute attribute-right">
                        <span class="badge badge-danger font-weight-normal"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Flash Sale -->
</div>
  <!-- Product grids -->
    <!-- Footer -->
<footer>
  <div class="footer">
    <div class="container-fluid limited">
        <div class="row">
            <div class="col-4 col-md-3">
              <h6>Sales</h6>
                <div>
                  <p><a href="#">Shipment</a></p>
                  <p><a href="#">Payment</a></p>
                  <p><a href="#">Gift card</a></p>
                  <p><a href="#">Return</a></p>
                  <p><a href="#">Help</a></p>
                </div>
            </div>
            <div class="col-4 col-md-3">
                <h6>Shop</h6>
                <div class="list-group list-group-flush">
                    <a href="about.handlebars" class="list-group-item list-group-item-action">About me</a>
                </div>
                <div class="list-group list-group-flush">
                    <a href="contact.handlebars" class="list-group-item list-group-item-action">FAQ</a>
                </div>
                <div class="list-group list-group-flush">
                    <a href="/info/haha.handlebars" class="list-group-item list-group-item-action">PAYMENT</a>
                </div>
                <div class="list-group list-group-flush">
                    <a href="search-menu.handlebars" class="list-group-item list-group-item-action">Affiliate Marketing </a>
                </div>
                <div class="list-group list-group-flush">
                     <a href="/policies/fahuo.handlebars" class="list-group-item list-group-item-action">Shipping</a>
                </div>
                 <div class="list-group list-group-flush">
                     <a href="/policies/server.handlebars" class="list-group-item list-group-item-action">Terms & Conditions</a>
                 </div>
            </div>
            <div class="col-4 col-md-3">
                    <h4>Our Policies</h4>
                    <h6>Contact</h6>
                    <p>Questions? Go ahead.</p>
                    <form action="/action_page.php" target="_blank">
                      <p><input class="w3-input w3-border" type="text" placeholder="Name" name="Name" required></p>
                      <p><input class="w3-input w3-border" type="text" placeholder="Email" name="Email" required></p>
                      <p><input class="w3-input w3-border" type="text" placeholder="Subject" name="Subject" required></p>
                      <div>
                      <label class="desc" id="title4" for="Field4">
                        Message
                      </label>
                      <div>
                        <textarea id="Field4" name="Field4" spellcheck="true" rows="10" cols="50" tabindex="4"></textarea>
                        <button type="submit" class="w3-button w3-block w3-black">Send</button>
                      </div>
                    </div>
                    </form>
            </div>
            <div class="col-12 col-md-3">
                <h6>Contact Us</h6>
                <p>York, Pa</p>
                <div>
                  <p><a href="about.handlebars">About us</a></p>
                  <p><a href="#">We're hiring</a></p>
                  <p><a href="#">Support</a></p>
                  <p><a href="#">Find store</a></p>
                </div>
            </div>
        </div>
    </div>
  </div>
     <p>Frost Rack Tennis LLC</p>
     <p>717-916-7131</p>
     <p>frostracktennis@gmail.com</p>
  </footer>